<div class="container">
  <div class="jumbotron">
      <h2 class="text-center">Hello, I'm Alex Leibowitz</h2>
      <div class="text-center">
          <img class="img img-thumbnail" src="/assets/self.jpg">
      </div>
      <p>I have been a poet, classicist, philosopher, and teacher. I live in and for my thoughts and imagination. What most impresses me about the world is the amazing scope and complexity of the things people have built; my ambition is to work with you to add a new stone to that edifice.</p>
      <p>At the beginning of 2018, I studied full-stack development at Coding Dojo in 3 stacks: Python (Django, mySQL), MEAN, and C#/.NET. Since then I have been working to apply and expand upon the skills I acquired there. My working philosophy is minimalism: break problems into their simplest components and then build out. Look for the elements of all things.</p>
      <p>To those I work with I offer intellectual versatility and critical insight; from them I hope to gain a deeper and broader professional background. If we pool our strengths, we can make the world.</p>
  </div>
</div>