.container {
    margin: 5% 25%;
}

embed {
    width: 75%;
    height: 40rem;
}


@media screen and (max-width: 760px) {
    .container {
        margin: 0;
    }
    embed {
        width: 40rem;
        height: 40rem;
    }
}